<% content_for :head do %>
  <title><%= @user.name %> - monolist</title>
  <meta name="description" content="<%= @user.name %>さんのモノページ。<%= @user.name %>さんが欲しいモノ、持ってるモノを表示しています。" />
<% end %>

<%= render 'profile' , user: @user %>


<%= render 'items/list' , items: @items %>